/* Self-hosted Google Fonts */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59FN_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFN_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/manrope/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E9_P-bnBeA.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drF0fOCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvKsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drH0feCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drEqfeCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drF0feCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jjPKsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drFGfeCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jYPWsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drGqeuCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jWfWsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drGTeuCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jPvWsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drH0euCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/exo2/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WsNNC_nps.woff2') format('woff2');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/exo2/7cH3v4okm5zmbtYtMeA0FKq0Jjg2drHdeuCwhp_rpQ.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjRbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTtINRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_LjQbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTNIJRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_GbQbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCT6oJRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTtIJRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCThoJRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ObXbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTaoVRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMlhLzTs.woff2') format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/josefin-sans/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCTU4VRIizoYV0.woff2') format('woff2');
}

@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/black-ops-one/qWcsB6-ypo7xBdr6Xshe96H3aDbbtwkh.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/orbitron/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/orbitron/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyKS6BoWgz.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/orbitron/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWgz.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/poppins/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/poppins/pxiEyp8kv8JHgFVrJJbecmNE.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/poppins/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/inter/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuOKfAZJhiI2B.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/inter/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZJhiI2B.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/inter/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fAZJhiI2B.woff2') format('woff2');
}

